<mat-toolbar class="custom-toolbar">
  <span class="toolbar-title">
    <span class="material-symbols-outlined">
      contacts_product
    </span>
    Producers
  </span>
  <button mat-stroked-button class="add-button" [routerLink]="['/addProducer']">+ Add Producer</button>
</mat-toolbar>

<div>
  <table mat-table [dataSource]="displayedProducers" class="mat-elevation-z8 custom-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let producer"> {{producer.producerId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="producer_name">
      <th mat-header-cell *matHeaderCellDef> Producer Name </th>
      <td mat-cell *matCellDef="let producer"> {{producer.producerName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="region_id">
      <th mat-header-cell *matHeaderCellDef> Region </th>
      <td mat-cell *matCellDef="let producer"> {{producer.regionDTO.regionName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let producer">
        <button mat-flat-button class="action-button accent-btn" (click)="viewDetails(producer.producerId)">View More</button>
        <button mat-flat-button class="action-button accent-btn" [routerLink]="['/updateProducer', producer.producerId]">Edit</button>
        <button mat-flat-button class="action-button delete-button" (click)="openDeleteDialog(producer.producerId)">Delete</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator  class="custom-paginator" 
              [length]="totalProducers"
              [pageSize]="4"
              [pageSizeOptions]="[5, 10, 15]"
              aria-label="Select page"
              (page)="paginatedProducers()">
</mat-paginator>

<app-producer-delete *ngIf="showDeleteDialog"
                      [producerId]="producerIdToDelete"
                      (delete)="deleteProducerById($event)"
                      (cancelDelete)="cancel()">
</app-producer-delete>