<mat-toolbar class="custom-toolbar">
  <span class="toolbar-title">
    <span class="material-symbols-outlined">
      list_alt
    </span>
    Order Items
  </span>
</mat-toolbar>

<div>
  <table mat-table [dataSource]="displayedOrderItems" class="mat-elevation-z8 custom-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let customerOrderItem"> {{customerOrderItem.orderItemId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="order_id">
      <th mat-header-cell *matHeaderCellDef> Order Number </th>
      <td mat-cell *matCellDef="let orderItem">{{orderItem.orderDTO.orderNumber}} </td>
    </ng-container>
  
    <ng-container matColumnDef="bottle_id">
      <th mat-header-cell *matHeaderCellDef> Bottle </th>
      <td mat-cell *matCellDef="let customerOrderItem"> {{customerOrderItem.bottleDTO.fullName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let orderItem">{{orderItem.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="order_price">
      <th mat-header-cell *matHeaderCellDef> Order Price </th>
      <td mat-cell *matCellDef="let orderItem">{{orderItem.orderPrice ? (orderItem.orderPrice | currency:'USD':'symbol':'1.2-2') : '-' }} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let orderItem">
        <button mat-flat-button class="action-button delete-button" (click)="openDeleteDialog(orderItem.orderItemId)">Delete</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator class="custom-paginator" 
              [length]="totalOrderItems"
              [pageSize]="4"
              [pageSizeOptions]="[5, 10, 15]"
              aria-label="Select page"
              (page)="paginatedOrderItems()">
</mat-paginator>

<app-order-item-delete *ngIf="showDeleteDialog"
                        [orderItemId]="orderItemIdToDelete"
                        (delete)="deleteOrderItemById($event)"
                        (cancelDelete)="cancelDelete()">  
</app-order-item-delete>