<mat-toolbar class="custom-toolbar">
  <div class="toolbar-title">
    <button mat-icon-button [routerLink]="['/dashboard/bottle']"><mat-icon>arrow_back_ios</mat-icon>
    </button>
    <span>Bottle Details</span>
  </div>
</mat-toolbar>

<div>
  <mat-card-content *ngIf="bottles">
    <table mat-table [dataSource]="[bottles]" class="mat-elevation-z8 custom-table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let bottle"> {{bottle.bottleId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let bottle"> {{bottle.fullName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef> Label </th>
        <td mat-cell *matCellDef="let bottle"> {{bottle.label}} </td>
      </ng-container> 

      <ng-container matColumnDef="category_id">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let bottle"> {{bottle.categoryDTO.categoryName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="volume">
        <th mat-header-cell *matHeaderCellDef> Volume </th>
        <td mat-cell *matCellDef="let bottle"> {{bottle.volume}} ml</td>
      </ng-container>
    
      <ng-container matColumnDef="year_produced">
        <th mat-header-cell *matHeaderCellDef> Year Produced </th>
        <td mat-cell *matCellDef="let bottle"> {{bottle.yearProduced}} </td>
      </ng-container>

      <ng-container matColumnDef="producer_id">
        <th mat-header-cell *matHeaderCellDef> Producer </th>
        <td mat-cell *matCellDef="let bottle"> {{bottle.producerDTO.producerName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let bottle">
          <img [src]="bottle.picture" alt="{{bottle.fullName}}" width="100" height="auto">
        </td>
      </ng-container>
    
      <ng-container matColumnDef="alcohol_percentage">
        <th mat-header-cell *matHeaderCellDef> Alcohol Percentage </th>
        <td mat-cell *matCellDef="let bottle"> {{bottle.alcoholPercentage}} %</td>
      </ng-container>
    
      <ng-container matColumnDef="current_price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let bottle">{{bottle.currentPrice ? (bottle.currentPrice | currency:'USD':'symbol':'1.2-2') : '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let bottle">
          <button mat-flat-button class="accent-btn" [routerLink]="['/updateBottle', bottle.bottleId]">Edit</button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</div>