<mat-toolbar class="custom-toolbar">
  <span class="toolbar-title">Edit Supplier</span>
</mat-toolbar>


<mat-card appearance="outlined" class="displayed-form-card">

  <mat-card-content>
    <form [formGroup]="supplierForm" class="displayed-form">

      <div class="form-row">
        <mat-form-field>
          <mat-label>Supplier Id</mat-label>
          <input matInput formControlName="id"/>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Supplier Name</mat-label>
          <input matInput formControlName="supplierName"/>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address"/>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone"/>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Mobile</mat-label>
          <input matInput formControlName="mobile"/>
        </mat-form-field>
      </div>
      
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email"/>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Details</mat-label>
          <input matInput formControlName="details"/>
        </mat-form-field>
      </div>

      <div class="buttons">
        <button mat-flat-button class="save-btn btn" (click)="onSubmit()">Save</button>
        <button mat-flat-button class="cancel-button btn" [routerLink]="['/dashboard/supplier']">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>  
