<mat-toolbar class="custom-toolbar">
  <span class="toolbar-title">Edit Customer Order</span>
</mat-toolbar>

<mat-card class="total-price-msg">
  <div *ngIf="totalCustomerOrderPrice !== undefined">
    <span>Total Order Price to Update:<strong> {{ totalCustomerOrderPrice | currency:'USD':'symbol':'1.2-2' }}</strong></span>
  </div>
</mat-card>

<mat-card appearance="outlined" class="displayed-form-card">

  <mat-card-content>
    <form [formGroup]="customerOrderForm" class="displayed-form">

      <div class="form-row">
        <mat-form-field>
          <mat-label>Customer Order Id</mat-label>
          <input matInput formControlName="id"/>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Order Number</mat-label>
          <input matInput formControlName="orderNumber"/>
        </mat-form-field>
  
        <mat-form-field class="form-field">
          <mat-label>Customer</mat-label>
          <mat-select formControlName="customerId">
            <mat-option *ngFor="let customer of customers" [value]="customer.customerId">
              {{ customer.username }}
            </mat-option>
            <mat-option (click)="openAddCustomerDialog()" class="add-new-country">
              <span class="add-option">+ Add Customer</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="form-field">
          <mat-label>Store</mat-label>
          <mat-select formControlName="storeId">
            <mat-option *ngFor="let store of stores" [value]="store.storeId">
              {{ store.storeName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Expected Delivery Date</mat-label>
          <input matInput [matDatepicker]="expectedDeliveryDatePicker" formControlName="expectedDeliveryDate"/>
          <mat-datepicker-toggle matSuffix [for]="expectedDeliveryDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #expectedDeliveryDatePicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field class="form-field">
          <mat-label>Time Placed</mat-label>
          <input matInput [matDatepicker]="timePlacedPicker" formControlName="timePlaced"/>
          <mat-datepicker-toggle matSuffix [for]="timePlacedPicker"></mat-datepicker-toggle>
          <mat-datepicker #timePlacedPicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field class="form-field">
          <mat-label>Order Price</mat-label>
          <input matInput formControlName="orderPrice"/>
          <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
            <mat-hint class="input-hint">* Update the <strong>total price</strong> if necessary</mat-hint>
        </mat-form-field>
      </div>
  
      <div class="buttons">
        <button mat-flat-button class="save-btn btn" (click)="onSubmit()">Save</button>
        <button mat-flat-button class="cancel-button btn" [routerLink]="['/dashboard/customerOrder']">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>  