<mat-toolbar class="custom-toolbar">
  <div class="toolbar-title">
    <button mat-icon-button [routerLink]="['/dashboard/customerOrder']"><mat-icon>arrow_back_ios</mat-icon>
    </button>
    <span>Customer Order Details</span>
  </div>
</mat-toolbar>

<div>
  <mat-card-content *ngIf="customerOrders">
    <table mat-table [dataSource]="[customerOrders]" class="mat-elevation-z8 custom-table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let customerOrder"> {{customerOrder.customerOrderId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="order_number">
        <th mat-header-cell *matHeaderCellDef> Order Number </th>
        <td mat-cell *matCellDef="let customerOrder"> {{customerOrder.orderNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="order_price">
        <th mat-header-cell *matHeaderCellDef> Order Price </th>
        <td mat-cell *matCellDef="let customerOrder"> {{customerOrder.orderPrice ? (customerOrder.orderPrice | currency:'USD':'symbol':'1.2-2') : '-'}} </td>
      </ng-container>

      <ng-container matColumnDef="customer_id">
        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
        <td mat-cell *matCellDef="let customerOrder"> {{customerOrder.customerDTO.customerName}} </td>
      </ng-container>

      <ng-container matColumnDef="customer_contact">
        <th mat-header-cell *matHeaderCellDef> Customer Contact </th>
        <td mat-cell *matCellDef="let customerOrder"> {{customerOrder.customerDTO.phone}} </td>
      </ng-container>
    
      <ng-container matColumnDef="store_id">
        <th mat-header-cell *matHeaderCellDef> Store </th>
        <td mat-cell *matCellDef="let customerOrder"> {{customerOrder.storeDTO.storeName}} </td>
      </ng-container>

      <ng-container matColumnDef="expected_delivery_date">
        <th mat-header-cell *matHeaderCellDef> Expected Delivery Date </th>
        <td mat-cell *matCellDef="let customerOrder"> {{customerOrder.expectedDeliveryDate | date: 'yyyy-MM-dd HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="time_placed">
        <th mat-header-cell *matHeaderCellDef> Time Placed </th>
        <td mat-cell *matCellDef="let customerOrder"> {{customerOrder.timePlaced | date: 'yyyy-MM-dd HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let customerOrder">
          <button mat-flat-button class="action-button accent-btn" [routerLink]="['/updateCustomerOrder', customerOrder.customerOrderId]">Edit</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</div>