<mat-toolbar class="custom-toolbar">
  <span class="toolbar-title">New Bottle</span>
</mat-toolbar>

<mat-card appearance="outlined" class="displayed-form-card">

  <mat-card-content>
    <form [formGroup]="bottleForm" class="displayed-form">

      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="fullName"/>
        </mat-form-field>
      
        <mat-form-field class="form-field">
          <mat-label>Label</mat-label>
          <input matInput formControlName="label"/>
        </mat-form-field>
      
        <mat-form-field class="form-field">
          <mat-label>Volume (ml)</mat-label>
          <input matInput formControlName="volume"/>
        </mat-form-field>
      </div>
    
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Year Produced</mat-label>
          <input matInput formControlName="yearProduced"/>
        </mat-form-field>
      
        <mat-form-field class="form-field">
          <mat-label>Picture URL</mat-label>
          <input matInput formControlName="picture"/>
        </mat-form-field>
      
        <mat-form-field class="form-field">
          <mat-label>Alcohol Percentage</mat-label>
          <input matInput formControlName="alcoholPercentage"/>
        </mat-form-field>
      </div>
    
      <div class="form-row">
        <mat-form-field floatLabel="always" class="form-field">
          <mat-label>Current Price</mat-label>
          <input matInput formControlName="currentPrice"/>
          <span matTextPrefix>$&nbsp;</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>
      
        <mat-form-field class="form-field">
          <mat-label>Category</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option *ngFor="let category of categories" [value]="category.categoryId">
              {{ category.categoryName }}
            </mat-option>
            <mat-option (click)="openAddCategoryDialog()" class="add-new-category">
              <span class="add-option">+ Add Category</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field class="form-field">
          <mat-label>Producer</mat-label>
          <mat-select formControlName="producerId">
            <mat-option *ngFor="let producer of producers" [value]="producer.producerId">
              {{ producer.producerName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
      <div class="buttons">
        <button mat-flat-button class="save-btn btn" (click)="openConfirmationDialog()">Save</button>
        <button mat-flat-button class="cancel-button btn" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>  
